{% extends 'base.html' %}

{% block body %}
<form class="m-5" action="/update/{{ post.id }}" method="POST">
  <div class="mb-3 pb-3">
    <label class="form-label" for="title">Title</label>
    <input class="form-control" type="text" name="title"  value="{{ post.title }}">
  </div>
  <div class="mb-3 pb-3">
    <label class="form-label" for="detail">Detail</label>
    <input class="form-control" type="text" name="detail" value="{{ post.detail }}">
  </div>
  <div class="mb-3 form-check pb-3">
    <label for="due">Due</label>
    <input type="date" name="due" value="{{ post.due.date() }}" required>
  </div>
  <a class="btn btn-outline-primary" href="/" role="button">Return</a>
  <input class="btn btn-primary" type="submit" value="Change">
</form>
{% endblock %}